.tel__btn__img{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.tel__btn{
    padding-top: 5px;
}
.ss{
    text-decoration: none;
    color:rgb(65, 64, 64) ;
}
.nav-item{
    padding: 20px;
    color:rgb(65, 64, 64) ;
    font-weight: 600;
}
.mmm{
    gap: 25px;
}
.tel__btn__a{
    text-decoration: none;
    color: rgb(65, 64, 64);
    font-weight: 700;
    font-size: 18px;
}
.tel__btn__p{
    color: rgb(65, 64, 64);
    font-size: 15px;
}